@import 'reset.scss';

body {
	background: beige;

	section {
		width: 600px;
		padding: 50px;
		background: white;
		margin: 100px auto;
		text-align: center;

		h1 {
			font: bold 50px/1 'arial';
			color: beige;
			margin-bottom: 40px;
		}
		p {
			margin-bottom: 30px;
		}
		a {
			display: inline-block;
			border: 1px solid burlywood;
			padding: 8px 30px;
			font: bold 16px/1 'arial';
			background: burlywood;
			color: #fff;
		}
	}
}

@media screen and (max-width: 990px) {
	body {
		background: rgb(254, 254, 58);

		section {
			background: rgb(43, 255, 0);
			width: 80%;
			h1 {
				color: rgb(0, 0, 0);
			}
			a {
				background: rgb(0, 0, 0);
			}
		}
	}
}

@media screen and (max-width: 599px) {
	body {
		background: rgb(220, 113, 0);

		section {
			background: rgb(22, 172, 42);

			h1 {
				color: rgb(0, 0, 0);
			}
			a {
				background: rgb(0, 0, 0);
			}
		}
	}
}
